h1 URL発行画面（/share）

input type='text' value="#{@uuid}" readonly=true
br

p ニックネーム
input type='text'
br

= form_with model: @user do |f|
  = f.text_field :name
  = f.submit


= link_to('入室', "/waiting?uuid=#{@uuid}")
